@charset "UTF-8";
/*
**
** outline
** header
** contact
** footer
** cta-area
** main common
** top
** price
** formrun
**
*/
/*==================================================
** outline
==================================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Noto Sans JP", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  /* 基本のfont-familyを指定する */
  font-weight: 400;
  /* 基本のfont-weightを指定する */
  letter-spacing: 5%;
  -webkit-text-size-adjust: 100%;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

.wrap-s {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .wrap {
    max-width: 960px;
  }
  .wrap-s {
    max-width: 800px;
  }
}

/*==================================================
** header
==================================================*/
.header {
  padding: 50px 5%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

/*==================================================
** contact
==================================================*/
.contact {
  margin-top: 120px;
  padding: 64px 0;
  background-color: #FCF2E7;
}

.contact .wrap {
  background-color: #fff;
  border-radius: 4px;
  border: 4px solid #ECA359;
  padding: 64px 16px;
}

.contact h2 {
  margin-top: 0;
}

.contact p {
  text-align: center;
}

.contact__form {
  margin-top: 64px;
}

.contact__form__item {
  margin-top: 16px;
  border-top: 1px solid #cacaca;
}

.contact__form__item:first-child {
  margin-top: 0;
}

.contact__form__item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 16px;
}

.contact__form__item label::before {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1.2rem;
  margin-right: 12px;
  font-weight: 400;
}

.contact__form__item--any label::before {
  content: "任意";
  background-color: #f0f0f0;
}

.contact__form__item--required label::before {
  content: "必須";
  background-color: #ECA359;
  color: #fff;
}

.contact__form__item input, .contact__form__item textarea, .contact__form__item select {
  margin-top: 12px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  min-width: 0;
}

.contact__form__item input::-webkit-input-placeholder, .contact__form__item textarea::-webkit-input-placeholder, .contact__form__item select::-webkit-input-placeholder {
  color: #cacaca;
}

.contact__form__item input:-ms-input-placeholder, .contact__form__item textarea:-ms-input-placeholder, .contact__form__item select:-ms-input-placeholder {
  color: #cacaca;
}

.contact__form__item input::-ms-input-placeholder, .contact__form__item textarea::-ms-input-placeholder, .contact__form__item select::-ms-input-placeholder {
  color: #cacaca;
}

.contact__form__item input::placeholder, .contact__form__item textarea::placeholder, .contact__form__item select::placeholder {
  color: #cacaca;
}

.contact__form__item input:focus, .contact__form__item textarea:focus, .contact__form__item select:focus {
  border: 1px solid #cacaca;
  background-color: #fff;
}

.contact__form__item--text input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  border: 1px solid #f0f0f0;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

.contact__form__item--text input:focus {
  border: 1px solid #cacaca;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact__form__item--textarea textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  width: 100%;
  resize: none;
  height: 240px;
}

.contact__form__item--textarea textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact__form__item--select {
  position: relative;
}

.contact__form__item--select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.65em 0.8em;
  width: 100%;
  color: #444;
}

.contact__form__item--select select::-ms-expand {
  display: none;
}

.contact__form__item--select select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.contact__form__item--select::after {
  content: url(/assets/images/arrow-gray.svg);
  position: absolute;
  bottom: 12px;
  right: 16px;
}

.contact__form__item--privacy {
  padding: 24px 0;
  border-bottom: 1px solid #cacaca;
}

.contact__form__item--privacy p a {
  text-decoration: underline;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.contact__form__item--privacy p a:after {
  content: url(/assets/images/link.svg);
  margin: 0 2px;
}

.contact__form__item--privacy p a:hover {
  opacity: .7;
}

.contact__form button {
  -webkit-appearance: none;
  background-image: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 40px auto 0;
  text-align: left;
  position: relative;
}

.contact__form button:hover, .contact__form button:focus {
  outline: none;
}

.contact__form button::-moz-focus-inner {
  border: none;
}

.contact__form button::after {
  content: url(/assets/images/arrow-white.svg);
  position: absolute;
  right: 16px;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 80px 0;
  }
  .contact .wrap {
    padding: 80px 40px;
  }
  .contact__form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__form__item--textarea {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .contact__form__item label {
    -ms-flex-preferred-size: 37.5%;
        flex-basis: 37.5%;
  }
  .contact__form__item label::before {
    font-size: 1.4rem;
    margin-right: 8px;
  }
  .contact__form__item input, .contact__form__item textarea, .contact__form__item select {
    -ms-flex-preferred-size: 62.5%;
        flex-basis: 62.5%;
  }
  .contact__form__item--name input {
    -ms-flex-preferred-size: calc(31.25% - 8px);
        flex-basis: calc(31.25% - 8px);
  }
  .contact__form__item--name input:first-of-type {
    margin-right: 16px;
  }
  .contact__form__item--privacy p {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .contact .wrap {
    padding: 80px 120px;
  }
}

/*==================================================
** footer
==================================================*/
.footer {
  background-color: #362D24;
  padding: 40px 0 24px;
  text-align: center;
}

.footer .copyright {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 24px;
}

/*==================================================
** cta-area
==================================================*/
.cta-area {
  background-color: #FCF2E7;
  padding: 64px 0;
  margin-top: 120px;
}

.cta-area p {
  font-weight: 500;
  text-align: center;
}

.cta-area a {
  margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
  .cta-area p {
    font-size: 2.4rem;
  }
}

/*==================================================
** common
==================================================*/
h2, h3 {
  font-weight: 500;
  color: #111;
}

h2 {
  font-size: 2rem;
  margin-top: 120px;
  text-align: center;
}

h2 + * {
  margin-top: 64px;
}

h3 {
  font-size: 1.8rem;
  margin-top: 64px;
}

h3 + * {
  margin-top: 24px;
}

p {
  font-size: 1.6rem;
  line-height: 1.7;
}

.btn {
  display: block;
  font-weight: 700;
  color: #fff;
  width: 240px;
  height: 64px;
  line-height: 64px;
  padding: 0 16px;
  border-radius: 4px;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  text-decoration: none;
}

.btn-cta {
  font-size: 1.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#ECA359), color-stop(50%, #FADC00), to(#ECA359));
  background: linear-gradient(to right, #ECA359, #FADC00 50%, #ECA359);
  background-size: 200% 100%;
  -webkit-transition-property: background-position, -webkit-box-shadow;
  transition-property: background-position, -webkit-box-shadow;
  transition-property: background-position, box-shadow;
  transition-property: background-position, box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-cta::after {
  content: url(/assets/images/arrow-white.svg);
  position: absolute;
  right: 16px;
}

.btn-cta:hover {
  background-position: 100% 0;
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
}

.btn-normal {
  font-size: 1.6rem;
  background-color: #ECA359;
  -webkit-transition-property: opacity, -webkit-box-shadow;
  transition-property: opacity, -webkit-box-shadow;
  transition-property: opacity, box-shadow;
  transition-property: opacity, box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.btn-normal:hover {
  opacity: .7;
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
  h2 {
    font-size: 3rem;
  }
  h2 + * {
    margin-top: 80px;
  }
  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 2.4rem;
  }
}

/*==================================================
** top
==================================================*/
#top .mv {
  background-color: #FCF2E7;
  width: 100vw;
  padding: 165px 5% 80px;
}

#top .mv__ttl {
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  width: 284px;
  position: relative;
  z-index: 1;
}

#top .mv__subttl {
  background-color: #fff;
  margin-top: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  width: 160px;
  position: relative;
  z-index: 1;
}

#top .mv__subttl + p {
  width: 256px;
  margin-top: 8px;
  position: relative;
  z-index: 1;
  -webkit-font-feature-settings: "pkna";
          font-feature-settings: "pkna";
}

#top .mv .btn {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

#top .mv__image {
  margin-top: 40px;
}

#top .mv__image img {
  width: 100%;
}

#top .probrem__content {
  margin-top: 40px;
}

#top .probrem__content__image {
  text-align: center;
}

#top .probrem__content__detail {
  margin-top: 40px;
}

#top .probrem__content__detail p + p {
  margin-top: 20px;
}

#top .probrem__content__detail span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #111;
}

#top .reason__item__image {
  display: none;
  text-align: center;
}

#top .reason__item__content h3 {
  text-align: center;
}

#top .reason__item__content h3 span {
  position: relative;
}

#top .reason__item__content h3 span::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: -2px;
  z-index: -1;
  display: inline-block;
  width: 100%;
  height: 8px;
  background-color: #FADC00;
}

#top .reason__item__content figure {
  text-align: center;
}

#top .reason__item__content p {
  margin-top: 24px;
}

#top .price__content__image {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top .price__content__image img {
  width: 100%;
}

#top .price__content__detail h3 {
  font-size: 1.8rem;
  margin-top: 16px;
}

#top .price__content__detail h3 span {
  font-size: 4.8rem;
  color: #ECA359;
  font-family: 'Roboto', sans-serif;
  margin: 0 8px 0 4px;
  vertical-align: -4px;
}

#top .price__content__detail__textlink {
  margin-top: 40px;
  text-align: right;
}

#top .price__content__detail__textlink a {
  text-decoration: underline;
  -webkit-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

#top .price__content__detail__textlink a:hover {
  opacity: .7;
}

#top .works__content__item {
  margin-top: 40px;
}

#top .works__content__item figure {
  background-color: #f0f0f0;
  border-radius: 4px;
  width: 100%;
  padding: 16px 32px;
  text-align: center;
}

#top .works__content__item figure img {
  width: 100%;
}

#top .works__content__item h3 {
  font-size: 1.6rem;
  margin-top: 8px;
}

#top .works__content__item:first-child {
  margin-top: 0;
}

#top .works__content__item:nth-child(3) {
  display: none;
}

#top .review__content__item {
  margin-top: 64px;
}

#top .review__content__item__detail span {
  display: inline-block;
  padding: 4px;
  font-size: 1.2rem;
  background-color: #ECA359;
  color: #fff;
  border-radius: 4px;
}

#top .review__content__item__detail h3 {
  margin-top: 8px;
}

#top .review__content__item__detail figure {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

#top .review__content__item__detail figure img {
  width: 100%;
}

#top .review__content__item__detail p {
  margin-top: 16px;
}

#top .review__content__item__image {
  display: none;
}

#top .question__list {
  border-bottom: 1px solid #c4c4c4;
}

#top .question__list__item {
  padding: 0 4px;
  border-top: 1px solid #c4c4c4;
  cursor: pointer;
  -webkit-transition: background-color ease-out .3s;
  transition: background-color ease-out .3s;
}

#top .question__list__item:hover {
  background-color: #f7f7f7;
}

#top .question__list__item dt {
  padding: 16px 40px 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#top .question__list__item dt::before {
  content: "Q";
  position: absolute;
  top: 16px;
  left: 0;
}

#top .question__list__item dt::after {
  content: url(/assets/images/arrow-orange.svg);
  position: absolute;
  right: 4px;
  -webkit-transition: -webkit-transform ease-out .5s;
  transition: -webkit-transform ease-out .5s;
  transition: transform ease-out .5s;
  transition: transform ease-out .5s, -webkit-transform ease-out .5s;
}

#top .question__list__item dt span {
  margin-right: 12px;
}

#top .question__list__item dd {
  padding: 0 40px 16px 24px;
  position: relative;
  display: none;
}

#top .question__list__item dd::before {
  content: "A";
  color: #ECA359;
  position: absolute;
  left: 0;
}

#top .question__list__item--active dt::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

@media screen and (min-width: 375px) {
  #top .mv__ttl {
    width: 337px;
  }
}

@media screen and (min-width: 768px) {
  #top .mv {
    position: relative;
    height: 100vh;
  }
  #top .mv__ttl {
    width: 534px;
    padding: 8px 20px;
  }
  #top .mv__subttl {
    width: 196px;
    font-size: 2rem;
    padding: 8px;
  }
  #top .mv__subttl + p {
    width: 515px;
    font-size: 2rem;
  }
  #top .mv__image {
    position: absolute;
    bottom: 7.8%;
    right: 40px;
    width: 75%;
  }
  #top .probrem__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 80px;
  }
  #top .probrem__content__image {
    margin-right: 40px;
    -ms-flex-preferred-size: 26.5%;
        flex-basis: 26.5%;
  }
  #top .probrem__content__image img {
    width: 100%;
  }
  #top .probrem__content__detail {
    margin-top: 0;
    -ms-flex-preferred-size: 73.5%;
        flex-basis: 73.5%;
  }
  #top .reason__item {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #top .reason__item__image {
    display: block;
    -ms-flex-preferred-size: 26.5%;
        flex-basis: 26.5%;
    margin-right: 40px;
  }
  #top .reason__item__image img {
    width: 100%;
  }
  #top .reason__item__content {
    -ms-flex-preferred-size: 73.5%;
        flex-basis: 73.5%;
  }
  #top .reason__item__content h3 {
    text-align: left;
    margin-top: 0;
  }
  #top .reason__item__content figure {
    display: none;
  }
  #top .price__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #top .price__content__image {
    margin-right: 40px;
    -ms-flex-preferred-size: 41.2%;
        flex-basis: 41.2%;
  }
  #top .price__content__detail {
    -ms-flex-preferred-size: 58.8%;
        flex-basis: 58.8%;
  }
  #top .price__content__detail h3 {
    font-size: 2.4rem;
  }
  #top .price__content__detail h3 span {
    font-size: 6.4rem;
  }
  #top .works__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #top .works__content__item {
    margin-top: 0;
    margin-right: 24px;
  }
  #top .works__content__item:nth-child(2) {
    margin-right: 0;
  }
  #top .works__content__item h3 {
    text-align: center;
  }
  #top .review__content__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #top .review__content__item__detail {
    -ms-flex-preferred-size: 57.5%;
        flex-basis: 57.5%;
    margin-right: 24px;
  }
  #top .review__content__item__detail figure {
    display: none;
  }
  #top .review__content__item__image {
    -ms-flex-preferred-size: 42.5%;
        flex-basis: 42.5%;
    margin-top: auto;
    display: block;
  }
  #top .review__content__item__image img {
    width: 100%;
  }
  #top .question__list__item {
    font-size: 1.8rem;
  }
  #top .question__list dt {
    padding: 24px 60px;
  }
  #top .question__list dt::before {
    top: 24px;
    left: 20px;
  }
  #top .question__list dt::after {
    right: 24px;
  }
  #top .question__list dd {
    padding: 0 60px 24px;
  }
  #top .question__list dd::before {
    left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  #top .probrem__content__image {
    -ms-flex-preferred-size: 27.4%;
        flex-basis: 27.4%;
  }
  #top .probrem__content__detail {
    -ms-flex-preferred-size: 72.6%;
        flex-basis: 72.6%;
  }
  #top .reason__item__image {
    -ms-flex-preferred-size: 23.2%;
        flex-basis: 23.2%;
  }
  #top .reason__item__content {
    -ms-flex-preferred-size: 76.8%;
        flex-basis: 76.8%;
  }
  #top .price__content__image {
    -ms-flex-preferred-size: 39.1%;
        flex-basis: 39.1%;
  }
  #top .price__content__detail {
    -ms-flex-preferred-size: 60.9%;
        flex-basis: 60.9%;
  }
  #top .works__content__item:nth-child(2) {
    margin-right: 24px;
  }
  #top .works__content__item:nth-child(3) {
    display: block;
    margin-right: 0;
  }
  #top .review__content__item__detail {
    -ms-flex-preferred-size: 48.7%;
        flex-basis: 48.7%;
  }
  #top .review__content__item__image {
    -ms-flex-preferred-size: 51.3%;
        flex-basis: 51.3%;
  }
}

@media screen and (min-width: 1025px) {
  #top .mv__image {
    bottom: 10.4%;
    right: 80px;
    width: 58.5%;
  }
}

@media screen and (min-width: 1440px) {
  #top .mv {
    padding: 165px 160px 80px;
  }
  #top .mv__image {
    right: 160px;
    width: 50%;
  }
}

/*==================================================
** price
==================================================*/
#price .mv {
  width: 100%;
  background-color: #FCF2E7;
  padding: 120px 0;
}

#price .mv h1 {
  font-size: 3.2rem;
  color: #ECA359;
  text-align: center;
  font-weight: 500;
}

#price .price__content__item {
  border: 4px solid #ECA359;
  border-radius: 4px;
  margin-top: 24px;
  padding-bottom: 40px;
}

#price .price__content__item:last-child {
  margin-right: 0;
}

#price .price__content__item h3 {
  margin-top: 0;
  padding: 24px 0;
  background-color: #ECA359;
  text-align: center;
  color: #fff;
}

#price .price__content__item__price {
  font-size: 2.4rem;
  text-align: center;
  color: #ECA359;
}

#price .price__content__item__price span {
  font-size: 5.6rem;
  margin-right: 4px;
  font-family: 'Roboto', sans-serif;
}

#price .price__content__item__time {
  margin-top: 16px;
  text-align: center;
  font-weight: 500;
}

#price .price__content__item__time span {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #ECA359;
  margin: 0 4px;
}

#price .price__content__item__text {
  margin-top: 24px;
  padding: 0 16px;
}

#price .price__content__item ul {
  margin-top: 24px;
  padding: 0 16px;
  list-style-type: disc;
}

#price .price__content__item ul li {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  #price .price__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #price .price__content__item {
    width: calc((100% - 24px)/2);
    margin-right: 24px;
  }
  #price .price__content__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  #price .price__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #price .price__content__item {
    width: calc((100% - 24*2px)/3);
    margin-right: 24px;
  }
  #price .price__content__item:nth-child(2n) {
    margin-right: 24px;
  }
  #price .price__content__item:nth-child(3n) {
    margin-right: 0;
  }
}

/*==================================================
** formrun
==================================================*/
.formrun-has-error {
  background-color: #ffebe8 !important;
}

.formrun-has-success {
  background-color: #e8f0fe !important;
}
/*# sourceMappingURL=style.css.map */